@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Cormorant+Garamond:wght@300&family=Geo&display=swap');


:root {
    --cor1: #caf0f8;
    --cor2: #adf4cb;
    --cor3: #90ef90;
    --cor4: #4de448;
    --cor5: #85d800;
    --cor6: #c4c700;
    --cor7: #b67c00;
    --cor8: #8a3802;
    --cor9: #5e0903;
    --cor10:#D36135;  
    --font1: 'Geo', sans-serif;
    --font2: 'Cinzel', serif;
    --font3: 'Cormorant Garamond', serif;
}
* {
    margin: 0%;
    padding: 0%;
}
body {
   
    font-family: var(--font1);
    font-size: 1em;
    color: orangered;
    justify-content: center;
    background-color: black;
    background-image: url(./imagens/ponte.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
body::-webkit-scrollbar {
    width: 6px;
}    body::-webkit-scrollbar-track {
        background-color: var(--cor1);
    }    body::-webkit-scrollbar-thumb {
        background-color: white; border-radius: 10px; border: 2px solid pink;
    }
header {
    max-width: 100%;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 200px;
}
.tudo {
    /*background-color: white;*/
    height: 200px;
    border: none;
    border-radius: 20px;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 24px;
    color: black;
    cursor: pointer;
    margin: 20px;
}
.botao1 {
    background-color: transparent;
    width: 100px;
    height: 40px;
    border: none;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 28px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 20px;
}
.botao1:hover{
    background-color: darkgray;
    color: black;
    font-style: italic;
    text-decoration: underline;
    transition-duration: 1s;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}
.text-header {
    color: rgb(255, 255, 255);
    font-family: var(--font1);
    font-size: 3em;
    font-style: normal;
    font-weight: 500;

    text-align: center;

}
.blur {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-bottom: 5px;
    margin-bottom: 15px;
}
.botao2 {
    background-color: transparent;
    width: 120px;
    height: 40px;
    border: none;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 28px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 20px;
}
.botao2:hover {
    background-color: darkgray;
    color: black;
    font-style: italic;
    text-decoration: underline;
    transition-duration: 1s;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}
.geral{
    max-width: 400px;
    max-height: 100%;
    padding: 30px;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.575);
    border: 1px solid orangered;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
    border-radius: 20px;
    color: black;
}
.formulario-geral {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 1em;
    font-style: normal;
    margin: 5px;
}
fieldset {
    border: 0px;
}
input, select, textarea {
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(255, 114, 62);
    border-radius: 5px;
}
.grupo:before, .grupo:after {
    display: table;
}
.grupo:after{
    clear: both;
}
textarea:focus, input:focus {
    background-image: linear-gradient(to top, #ff7b007a, #ffffff 70%);
}
.titulo {
    font-weight: 500;
    font-size: 1em;
    display: block;
    margin-bottom: 5px;
    padding-top: 10px;
}
.titulo-prin {
    font-family: var(--font1);
    font-size: 2em;
    color: black;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
.paragrafo {
    font-family: var(--font1);
    font-size: 1em;
    color: black;
    text-align: center;
    font-style: italic;
    margin-bottom: 5px;
}
.radio1 {
padding: 5px;
    margin-top: 5px;
}
.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.b1 {
    font-family: var(--font1);
    font-size: 1.2em;
    font-weight: bolder;
    border: 0.1px solid orangered;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    cursor: pointer;
    background-color: rgb(255, 233, 194);
}
.b1:hover {
    background-color: rgb(252, 200, 111);
    font-style: italic;
    color: black;
    text-decoration: underline;
}
.div-roda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: black;
}
.rodape {
   
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-family: var(--font3);
    font-size: 15px;
}
.roda-img {
    height: 100px;
}